body {
  font-family: 'BioRhyme', serif;
}

header {
  background: #01505F;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  margin-bottom: 3px;
}

img {
  padding: 10px;
  display: block;
  /*height: 320px;
  width: 240px;*/
  margin: 0 auto;
}

figcaption {
  color: #437983;
  font-size: 0.75em;
  text-align: center;
}

nav li {
  text-decoration: none;
  color: #437983;
  width: 100px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-shadow: 1px 1px 2px black;
}

a:hover {
  text-decoration: underline;
}

article {
  width: 300px;
  height: 200px;
  overflow: scroll;
  float: left;
  border: 2px dotted #000000;
  border-radius: 5px;
  margin: 10px;
  padding: 3px;
  background-color: #4F2707;
}

footer {
  background-color: #505F90;
  position: relative;
}

article h3 {
  text-align: center;
}

article p {
  text-align: center;;
}

article ol {
  text-align: center;
}

.main {
  background-color: #76451E;
  color: #DFB593;
  border: 2px solid #000000;
  border-radius: 5px;
  overflow: auto;
  width: 100%;
}

.email {
  text-align: center;
  /*background-color: inherit;*/
}

.phone {
  text-align: center;
  /*background-color: inherit;*/
}

#welcome {
  text-align: center;
  color: #6A959D;
}

#contact {
  display: inline;
  background-color: #505F90;
  position: relative;
}
