body {
  font-family: 'BioRhyme', serif;
}
header {
  background: #01505F;
  padding: 10px;
}
#welcome {
  text-align: center;
  color: #6A959D;
}
img {
  padding: 10px;
  display: block;
  height: 320px;
  width: 240px;
  margin: 0 auto;
}
figcaption {
  color: #437983;
  font-size: 0.75em;
  text-align: center;
}
.main {
  background-color: #9B4A00;
  color: #FFD4AA;
}
footer {
  background-color: #505F90;
}
.email {
  text-align: center;
}
.phone {
  text-align: center;
}
